#Description {
    width: 500px;
    height: 150px;
  }

  #Date {
    height: 50px;

  }

  #title {
    padding-top: 3rem;

  }

  h3 {
    margin-top: 2rem;
  }

  .row {
    margin-bottom: 1rem;
  }

  .row .row {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  [class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;

  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #home,
  #return {
    font-size: 16px;

  }

  #brand {
    font-size: 20px;

  }

  #box1 {
    max-width: 960px;
    background-color: rgba(36, 142, 228, 0.144);
  }
  #body{
    background-color: #e3e3cfc7;

  }